
*{
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif;
}


body{
    padding: 5px;
    height: calc(100vh - 10px);
}


#root{
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 232, 210);
    border-radius: 10px;
    
    overflow-y: auto;
    height: 100%;
}


::-webkit-scrollbar{
    display: none;
}


.simple{
    background-color: rgb(255, 135, 8);
}
.luxury{
    background-color: black;
}
.rugged{
    background-color: rgba(0, 128, 0, 0.655);
}


.activeNav{
    font-weight: bold;
    text-decoration: underline;
}


.activeFilterType{
    font-weight: bold;
    text-decoration: underline;
    background-color: rgb(225, 192, 153);
}


a{
    text-decoration: none;
    color: black;
}


li {
    list-style: none;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
}
header > h1{
    font-weight: 1000;
    font-size: 1.5rem;
}
header > nav > ul{
    display: flex;
    gap: 10px;
}
header > nav > ul > li{
    list-style: none;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.709);
}
header > nav > ul > li:hover{
    cursor: pointer;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26,27,26);
    min-height: 50px;
}
footer > p{
    font-size: .8rem;
    color: rgb(157, 157, 157);
    font-weight: 600;
}


.homePage{
    position: relative;
    flex: 1;
}
.homePage > img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.homePage > .content-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    color: rgba(255, 255, 255, 0.835);
    padding: 45px 25px;
    background-color: rgba(0, 0, 0, 0.429);
    z-index: 10;
    height: calc(100% - 90px);
}
.homePage > .content-container > h1{
    font-size: 1.8rem;
}
.homePage > .content-container > button{
    background-color: rgb(229, 107, 30);
    height: 45px;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.761);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.aboutPage > img{
    width: 100%;
    height: 210px;
}
.aboutPage > .content-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 30px;
}
.aboutPage > .content-container > h1{
    font-size: 1.5rem;
}
.aboutPage > .content-container > div {
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(230, 177, 115);
}
.aboutPage > .content-container > div > h2 {
    font-size: 1.2rem;
    width: 250px;
}
.aboutPage > .content-container > div button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: .7rem;
    margin-top: 10px;
}


.vansPage{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px;
}
.vansPage > .filter-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vansPage > .filter-section > .filtered-container > ul{
    display: flex;
    gap: 20px;
}
.vansPage > .filter-section > .filtered-container > ul > li > button{
    background-color: rgb(250, 212, 169);
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.vansPage > .filter-section > .clearFiltered{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}
.vansPage > .vans-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 30px 0px;
}
.vansPage > .vans-container > a > .van{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.vansPage > .vans-container > a > .van > img{
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.254);
}
.vansPage > .vans-container > a > .van > .name_and_rent{
    display: flex;
    justify-content: space-between;
    
}
.vansPage > .vans-container > a > .van > .name_and_rent > h3:nth-of-type(2) p{
    font-size: 12px;
    margin-top: -3px;
    text-align: right;
}
.vansPage > .vans-container > a > .van > button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: white;
}


.vanDetails{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}
.vanDetails > a::before{
    content: '←';
    margin-right: 8px;
}
.vanDetails > a > span{
    text-decoration: underline; 
}
.vanDetails > img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.vanDetails > .vanType{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: none;
    pointer-events: none;
}
.vanDetails > .rentBtn{
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(212,109,43);
    cursor: pointer;
}


.hostLayout-container > ul {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}


.vansList{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 20px;
}
.vansList > .listedVans-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.vansList > .listedVans-container > a > div{
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(254,254,254);
    gap: 10px;
    cursor: pointer;
}
.vansList > .listedVans-container > a > div > img{
    width: 50px;
    border-radius: 5px;
}
.vansList > .listedVans-container > a > div > div > h2{
    font-size: 1.25rem;
    margin-bottom: 3px;
}
.vansList > .listedVans-container > a > div > div > p{
    font-size: .9rem;
    font-weight: 500;
    opacity: .7;
}


.vansListDetails_Layout{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
}
.vansListDetails_Layout > a::before{
    content: '←';
    margin-right: 8px;
}
.vansListDetails_Layout > a > span {
    text-decoration: underline;
    font-weight: 600;
    font-size: .9rem;
}
.vansListDetails_Layout > div {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.vansListDetails_Layout > div > .vanListDetails{
    display: flex;
    gap: 15px;
}
.vansListDetails_Layout > div > .vanListDetails > img{
    width: 150px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.303);
}
.vansListDetails_Layout > div > .vanListDetails > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.vansListDetails_Layout > div > .vanListDetails > div > button{
    width: 60px;
    height: 32px;
    border: none;
    color: white;
    border-radius: 5px;
}
.vansListDetails_Layout > div > .vanListDetails > div > h2{
    font-weight: 800;
}
.vansListDetails_Layout > div > .vanListDetails > div > p{
    font-weight: bold;
}
.vansListDetails_Layout > div > .vanListDetails > div > p > span{
    font-size: .9rem;
    opacity: .6;
}
.vansListDetails_Layout > div > nav {
    margin: 20px 0px;
    font-weight: 600;
    opacity: .7;
}
.vansListDetails_Layout > div > nav > ul{
    display: flex;
    gap: 20px;
}
.vansListDetails_Layout > div > .details-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: .9rem;
}

.notFound {
    padding: 20px;
}
.notFound h1{
    width: 400px;
}
.notFound a > button{
    width: 100%;
    max-width: 450px;
    padding: 15px 0px;
    background-color: black;
    color: rgb(237, 237, 237);
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}
.notFound a > button:hover{
    opacity: .9;
}


.login{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
}
.login h1{
    margin-bottom: 10px;
    text-align: center;
}
.login h3{
    margin-bottom: 20px;
    color: rgb(209, 5, 5);
}
.login > form {
    width: 100%;
}
.login > form > input{
    width: calc(100% - 24px);
    padding: 12px;
    border: 1px solid rgba(128, 128, 128, 0.368);
    border-radius: 5px;
    background-color: rgb(227,237,253);
    font-weight: 500;
}
.login > form > button {
    background-color: rgb(244, 119, 42);
    color: white;
    border: none;
    width: 100%;
    padding: 12px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}


.host-reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: auto;
}
.top-text{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.graph{
    width: 90%;
    min-width: 400px;
    max-width: 700px;
}
.review-star, .star{
    color: orange;
}


.host-income{
    padding: 20px;
    width: 80%;
    margin: auto;
}
.info-header{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}


.dashboard-section{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.host-dashboard-vans{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.host-dashboard-vans .top{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.host-dashboard-vans .top a{
    text-decoration: underline;
}
.host-van-single img{
    width: 80%;
    max-width: 400px;
    min-width: 200px;
}